.header
  .header__content
    .left-side
      .user-name
      %h1.left-side__serviceName
        = link_to root_path, class: "left-side__serviceName__content" do
          = icon('fas','adjust')
          .left-side__serviceName__content__name
            SoundTherapy
    .right-side
      .right-side__uer
        - if user_signed_in?
          = link_to destroy_user_session_path, method: :delete, class: "right-side__user--btn" do
            Logout
        - else
          = link_to new_user_registration_path, class: "right-side__user--btn" do
            Sign up
          = link_to new_user_session_path, class: "right-side__user--btn" do
            Login
.wrapper
  .upper
    .main-content
      - if user_signed_in?
        .main-content__user-name
          .main-content__user-name__content
          = icon('fas','smile')
          = current_user.name
          さん,こんにちは.
      - else
        .main-content__user-name
          .main-content__user-name__content
          = icon('fas','smile')
          ゲストさん,こんにちは.
      .main-content__copy
        .main-content__copy__main
          音楽による
          %br/
          感情の
          %br/
          マネジメント
        .main-content__copy__secound
          まったく新しい音楽体験が
          %br/
          待ってます。
          %br/
          ただ聴くだけなんてもったいない。
      .main-content__service
        .main-content__service__music
          = link_to playlists_path do
            = icon('fas','headphones')
            %h2.main-content__service__music__name
              How are you feeling?
  .lwr
    .main-content
      .main-content__copy
        .main-content__copy__main
          自分で
          %br/
          自分の
          %br/
          体調管理
        .main-content__copy__secound
          気分検知ツールによる気分の可視化。
          %br/
          ＊サウンドセラピーは個人情報を外部利用しません。
      .main-content__service
        .main-content__service__bio
          = link_to new_emotion_path do
            = icon('fas','heart')
            %h2.main-content__service__bio__name
              Mood Checker

