.wrapper-music
  .side-menu
    .side-menu__serviceName
      = link_to root_path do
        = icon('fas','adjust')
        %h1.side-menu__serviceName__content__title
          SoundTherapy
    .side-menu__home
      = link_to playlists_path do
        = icon('fas','home')
        %h1.side-menu__home__title
          Home
    .side-menu__feeling
      MY LIBRARY
    .side-menu__playlist
      - @playlists.each do |playlist|
        - if current_user.id == playlist.user_id
          .list
            = link_to playlist_adds_path(playlist) do
              .list__name
                = playlist.name
    %h2.side-menu__newPlaylist
      = link_to new_playlist_path do
        = icon('fas','smile')
        %h1.side-menu__newPlaylist__title
        New Playlist
  .playlist
    .playlist__content
      .title
        Shared Feelings And Situations
      %ul.jackets
        - @playlists.each do |playlist|
          - if current_user.id != playlist.user_id
            %li.jackets__image
              = link_to playlist_adds_path(playlist) do
                - if playlist.image.present?
                  .jackets__image__existing 
                    = image_tag playlist.image.url 
                -else
                  .jackets__image__nothing
                    = icon('fas','music')
              .jackets__image__info
                = playlist.name
    .playlist__content
      .title
        Recently Added
      %ul.jackets
        - @playlists.each do |playlist|
          - if current_user.id != playlist.user_id
            %li.jackets__image
              = link_to playlist_adds_path(playlist) do
                - if playlist.image.present?
                  .jackets__image__existing 
                    = image_tag playlist.image.url 
                -else
                  .jackets__image__nothing
                    = icon('fas','music')
              .jackets__image__info
                = playlist.name
    .playlist__content
      .title
        My Feelings And Situations
      %ul.jackets
        - @playlists.each do |playlist|
          - if current_user.id == playlist.user_id
            %li.jackets__image
              = link_to playlist_adds_path(playlist) do
                - if playlist.image.present? 
                  .jackets__image__existing
                    = image_tag playlist.image.url 
                -else
                  .jackets__image__nothing
                    = icon('fas','music')
              .jackets__image__info
                = playlist.name