.wrapper-playlist
  .playlist-form
    .playlist-form__title
      = current_user.name
      ,  under what circumstances do you want to listen?
    =form_for @playlist do |f|
      .playlist-form__name
        Place
      = f.text_field :name, class: "playlist-form__input", placeholder: "At home, On a drive, On the beach, ..."
      .playlist-form__name
        Mood
      .playlist-form__mood
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "1", checked: true
          .playlist-form__mood__inner-box__face
            &#x1f601;
          .playlist-form__mood__inner-box__name
            Ecstatic
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "2"
          .playlist-form__mood__inner-box__face
            &#x1f600;
          .playlist-form__mood__inner-box__name
            Happy
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "3"
          .playlist-form__mood__inner-box__face
            &#x1f60b;
          .playlist-form__mood__inner-box__name
            Excited
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "4"
          .playlist-form__mood__inner-box__face
            &#x1f60d;
          .playlist-form__mood__inner-box__name
            Gratrul
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "5"
          .playlist-form__mood__inner-box__face
            &#x1f60c;
          .playlist-form__mood__inner-box__name
            Relaxed
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "6"
          .playlist-form__mood__inner-box__face
            &#x1f642;
          .playlist-form__mood__inner-box__name
            Content
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "7"
          .playlist-form__mood__inner-box__face
            &#x1f615;
          .playlist-form__mood__inner-box__name
            Unsure
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "8"
          .playlist-form__mood__inner-box__face
            &#x1f610;
          .playlist-form__mood__inner-box__name
            Bored
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "9"
          .playlist-form__mood__inner-box__face
            &#x1f62c;
          .playlist-form__mood__inner-box__name
            Anxious
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "10"
          .playlist-form__mood__inner-box__face
            &#x1f624;
          .playlist-form__mood__inner-box__name
            Angry
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "11"
          .playlist-form__mood__inner-box__face
            &#x1f623;
          .playlist-form__mood__inner-box__name
            Stressed
        .playlist-form__mood__inner-box
          = f.radio_button :feeling, "12"
          .playlist-form__mood__inner-box__face
            &#x1f614;
          .playlist-form__mood__inner-box__name
            Sad
      .playlist-form__mask
        Choose image
      = f.label :image, class: 'playlist-form__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      .playlist-form__create
      = f.submit "CREATE", class: "playlist-form__create__action-btn"
      
      